* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #222;
}

p, span {
	font-size: .85rem;
}

.content {
  padding: 12px;
}