.icon {
	display: inline-block;
	background-repeat: no-repeat;
}
.icon:hover {
	cursor: pointer;
}

.icon-close {
	background-image: url(../icons/cancel.svg);
}
.icon-info {
	background-image: url(../icons/info.svg);
}
.icon-warn {
	background-image: url(../icons/warning.svg);
}