<%- include('_header') %>
<body>
  <div class="container">
    <h4 class="center-align">У Вас нет доступа к данному разделу</h4>
    <h5 class="center-align">Для продолжения работы <a href="/login">войдите</a> или <a href="/register">зарегиструрейтесь</a></h5>
  </div>
</body>
</html>