<!DOCTYPE html>
 <html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="css/stylel.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            <section>				
                    <div id="wrapper">
                        <div id="login">
                            <form method="post"> 
                                <h1>Вход</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Логин </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="qwerty"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Пароль </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="0000" /> 
                                </p>
                                <p class="login button"> 
                                    <input type="submit" value="Войти" /> 
								</p>
                            </form>
                        </div>
                </div>  
            </section>
        </div>
    </body>
</html>