<!DOCTYPE html>
 <html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="css/styler.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            <section>				
                    <div id="wrapper">
                        <div id="register">
                            <form method="post"> 
                                <h1> Регистрация </h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u">Имя</label>
                                    <input id="username" name="username" required="required" type="text" placeholder="qwerty" />
                                </p>
                                <p> 
                                    <label for="email" class="youmail" data-icon="e" >Mail</label>
                                    <input id="email" name="email" required="required" type="email" placeholder="qwe@mail.com"/> 
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p">Пароль</label>
                                    <input id="password" name="password" required="required" type="password" placeholder="0000"/>
                                </p>
                                <p> 
                                    <label for="password_confirm" class="youpasswd" data-icon="p">Повторите пароль</label>
                                    <input id="password_confirm" name="password_confirm" required="required" type="password" placeholder="0000"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="ОК"/> 
								</p>
                            </form>
                        </div>
						
                    </div> 
            </section>
        </div>
    </body>
</html>