#wrapper{
	right: 0px;
	min-height: 700px;	
	margin: 0px auto;	
	width: 700px;
	position: relative;	
}

#wrapper h1{
	font-size: 45px;
	color: rgb(207, 64, 64);
	padding: 2px 0 10px 0;
	font-family: Lucida Sans Unicode,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
#wrapper h3 {
	font-family: Lucida Sans Unicode,sans-serif;
	font-weight: bold;
	text-align: center;
}